<?xml version="1.0" encoding="UTF-8" standalone="no"?><properties><configurations><php-path>C:\Artisan\php\php.exe</php-path><composer-path>C:\Artisan\Composer\composer.phar</composer-path></configurations><projects><project name="Myrmidon"><path>C:\Users\mateo.leal\Code\Myrmidon</path></project></projects></properties>